body {
  background: url(./images/background/white_bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

.loginOverlay {
  background: rgba(36, 123, 160, 0.7);
}