body {
  background: url(./images/background/white_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center !important;
}

.loginOverlay {
  background: rgba(36, 123, 160, 0.7);
}