.categories {
  margin: 30px 0;
  padding: 20px 40px;
  background-color: rgb(255,255,255,0.7);
  border-radius: 10px;
}

.MuiGrid-container {
  align-items: center;
  justify-content: center;
}

.categories h4 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  width: 100%;
  margin: auto;
}

.card-body {
  height: 220px;
  overflow: auto;
}

.card-link {
  cursor: pointer;
  font-weight: bold;
}

.card-img {
  min-height: 179px;
  max-height: 179px;
}

@media (max-width: 1199px) {
  .categories {
    margin: 20px 0;
    padding: 20px 3vw;
  }

  .card {
    width: 100%;
  }

  .card-img {
    min-height: 150px;
    max-height: 150px;
  }

  .card-body .card-text {
    font-size: 85%;
  }

  .card-link {
    font-size: 85%;
  }
}

@media (max-width: 959px) {
  .categories {
    padding: 20px 4vw;
  }
}

@media (max-width: 599px) {
  .categories {
    padding: 20px 10vw;
  }

  .card-img {
    min-height: 150px;
    max-height: 150px;
  }

  .card-body {
    height: 170px;
  }

  .card-body .card-text {
    font-size: 85%;
  }

  .card-link {
    font-size: 95%;
  }
}

@media (max-width: 400px) {
  .categories {
    margin: 15px 0;
    padding: 20px 15px;
  }

  .card-img {
    min-height: 120px;
    max-height: 120px;
  }

  .card-body {
    height: 160px;
    padding: 10px 12px !important;
  }

  .card-body .card-text {
    font-size: 75%;
  }

  .card-link {
    font-size: 80%;
  }
}