.language-selection {
  margin: 10vh auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 90%;
  color: black;
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px 18px;
}

.language-selection h1 {
  font-size: 1.7rem;
}

.language-selection h3 {
  margin-top: 30px;
  font-size: 1rem;
}

.language-selection ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0;
}

.language-button {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #222;
  border-radius: 15px;
  margin: 5px auto;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(90deg, rgb(250,235,235) 0%, rgb(250,190,255) 30%, rgb(150,15,170) 85%);
  cursor: pointer;
}  

.language-button img {
  height: 80%;
  padding-right: 5px;
}

.language-button:hover {
  background: linear-gradient(270deg, rgb(250,235,235) 0%, rgb(250,190,255) 30%, rgb(150,15,170) 85%);
  animation: 1s linear;
  color: white;
}

.language-button:focus, .language-button:active {
  outline: none;
  box-shadow: none;
}

@media (min-width: 576px) and (max-width: 991px) {
  .language-selection {
    margin: 15vh auto;
    max-width: 70%;
    padding: 30px 20px;
  }

  .language-selection h1 {
    font-size: 2rem;
  }
  
  .language-selection h3 {
    font-size: 1.2rem;
  }
  
  .language-button {
    width: 240px;
    font-size: 1.1rem;
  }

  .language-button img {
    height: 90%;
  }
}

@media (min-width: 992px) {
  .language-selection {
    margin: 25vh auto;
    max-width: 50%;
    padding: 30px 20px;
  }

  .language-selection h1 {
    font-size: 2.4rem;
  }
  
  .language-selection h3 {
    font-size: 1.35rem;
  }
  
  .language-button {
    width: 250px;
    font-size: 1.15rem;
  }

  .language-button img {
    height: 90%;
  }
}