.login {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  border-radius: 15px;
  background-color: #333;
  overflow: hidden;
  padding: 3px;
}

.login div {
  color: white;
  display: inherit;
  justify-content: center;
  border: 2px solid white;
  width: 100%;
  border-radius: 15px;
}