.modal-content {
  padding: 10px;
}

.form-label {
  font-weight: bold;
}

.form-link:hover {
  cursor: pointer;
}

.form-password:hover {
  cursor: pointer;
}

.MuiInputLabel-outlined {
  color: black !important;
  font-weight: bold !important;
}

button.close {
  color: rgb(255, 0, 0);
  opacity: 0.8;
}

/* Remove outline and shadow from focused button 

.btn-block:focus {
  outline: none !important;
  box-shadow: none !important;
}
*/