.navbar-nav .btn {
  padding: 6px 8px;
}

.dropdown-menu {
  min-width: 9.5rem !important;
  max-width: 9.5rem;
  text-align: right !important;
}

.dropdown-menu .dropdown-header {
  text-align: left !important;
}

.dropdown-toggle span, .dropdown-menu a span {
  display: 'inline-block';
  text-align: right;
}

.dropdown-toggle span img, .dropdown-menu a span img {
  margin: -2px 0 0 2px;
}